<header class="header">
  <img src="./images/Logo_Voces.png" alt="Logo de Voces LGTB de Madrid">
  <h1>{=$title}</h1>
  <nav class="menu">
    <ul class="menu__ul">
      <li class="menu__ul--li red">Quiénes somos</li>
      <li class="menu__ul--li orange">Galería</li>
      <li class="menu__ul--li yellow">Dónde estamos</li>
      <li class="menu__ul--li green">Canta con nosotres</li>
      <li class="menu__ul--li blue">Contacto</li>
      <li class="menu__ul--li purple">Donaciones</li>
    </ul>
  </nav>
</header>
